.section_gap{
    padding-top: 10%;
    padding-bottom: 10%;
    font-weight: 300;
    color: #777777;
    background: #04091e;

}
.container{
    font-family: "Poppins", sans-serif;
    line-height: 2em;
}
.footer_title{
    padding-bottom: 10%;
    color: #fff;
    padding-left: 10%;
    
    text-transform: uppercase;
}
.single-footer-widget{
   width: 263px;
}

p{
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  
}
.list_style{
    list-style-type: none;
    padding-left: -30px;
  

}
.list_style a{
    color: #777777;
    margin-right: 0;
}
.list_style a:hover{
    color: #ffc107;
}
.border_line {
    width: 100%;
    height: 1px;
    background: #333333;
    margin-top: 30px;
}
.footer-bottom {
    padding-top: 46px;
}
.flex-wrap li{
padding: 5px;

}

a {
    color: #ffc107; 
    text-decoration: none;
}

