.room_img img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.room_img {
    overflow: hidden;
}
.room_img figure {
    margin: 0;
}
.our_room .room {
    text-align: center;
    background-color: #fff;
    margin-bottom: 30px;
    transition: ease-in all 0.5s;
}