.column-us {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  #anh{
height: 350px;
/* width: 600px; */
  }
  .card-us {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
 
  .aboutus {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
 
  .us-container {
    padding: 0 16px;
  }
 
  .us-container::after, .rowus::after {
    content: "";
    clear: both;
    display: table;
  }
 
  .us-title {
    color: grey;
  }
 
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
 
  .button:hover {
    background-color: #555;
  }
 
  @media screen and (max-width: 650px) {
    .column-us {
      width: 100%;
      display: block;
    }
  }

